.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: fixed;
    background: var(--color-primary-100);
    width: min(100%, 50ch);
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.backdrop {
    position: fixed;
    inset: 0;
    background: hsl(0deg 0 0 / 0.4);
}

.formField {
    display: flex;
    flex-direction: column;

    label {
        font-size: 0.8rem;
        font-weight: 600;

        &:has(+ [required])::after {
            content: "*";
            color: red;
        }
    }
}

.formActions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

@mixin button {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    padding: 0.5em 0.8em;
    line-height: 1;
    border-radius: 2em;
    cursor: pointer;
}

.primaryButton {
    @include button;
    background: var(--color-primary-500);
    color: white;
}

.secondaryButton {
    @include button;
    background: var(--color-secondary-500);
    color: white;
}

.input {
    border: 1px solid lightgray;
    border-radius: 8px;
    resize: none;
    padding: 0.5em 0.8em;

    &:focus-visible {
        outline: 1px solid var(--color-primary-500);
    }
}
